In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('StudentsPerformance.csv')

In [5]:
print(data.shape)
data.info()

(1000, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [6]:
data.mean()

C:\Users\nbhav\AppData\Local\Temp\ipykernel_29536\531903386.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.mean()

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

In [7]:
print(data.loc[:,'math score'].mean())
print(data.loc[:,'reading score'].mean())

66.089
69.169

In [8]:
data.median()

C:\Users\nbhav\AppData\Local\Temp\ipykernel_29536\4184645713.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.median()

math score       66.0
reading score    70.0
writing score    69.0
dtype: float64

In [9]:
print(data.loc[:,'reading score'].median())
print(data.loc[:,'math score'].median())

70.0
66.0

In [11]:
data.mode()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some college,standard,none,65,72,74

In [12]:
data.std()

C:\Users\nbhav\AppData\Local\Temp\ipykernel_29536\2723740006.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.std()

math score       15.163080
reading score    14.600192
writing score    15.195657
dtype: float64

In [13]:
data.skew()

C:\Users\nbhav\AppData\Local\Temp\ipykernel_29536\1188251951.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.skew()

math score      -0.278935
reading score   -0.259105
writing score   -0.289444
dtype: float64